h1,
h2,
h3,
h4 {
	font-family: 'Oswald', sans-serif;
}

body {
	background: #E3E7E8;
	font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

header ul,
section.slides ul {
	padding: 0;
	margin: 0;
}

.no-margin {
    margin: 0 !important;
}

.clear {
	clear: both;
}

a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fullsize-images {
    max-height: 1500px;
    min-width: 100%;
}


section.propostas .slide-propostas #controla-tabs ul.slides li:hover span {
    color: #fbd017 !important;
}
section.barra-topo {
    background: none repeat scroll 0 0 rgba(23,79,134,0.9);
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.4);
    padding: 20px 0;
    position: fixed;
  	top: 0;
    width: 100%;
    z-index: 900;
}

section.barra-topo nav {
    margin: 10px 0 0;
}

section.barra-topo nav li {
    float: left;
    font-family: 'Oswald',sans-serif;
    list-style: none outside none;
    text-transform: uppercase;
}

section.barra-topo nav li:first-child:before {
    content: "";
    border-right: none;
}

section.barra-topo nav li:before {
    content: "";
    border-right: 1px #5E84A8 solid;
}

section.barra-topo nav li:first-child a, section.barra-topo nav li:last-child a {
    color: #FFBF00;
}

section.barra-topo nav a {
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    white-space:nowrap;
}

section.barra-topo nav ul {
    position: relative;
}

section.barra-topo nav ul .submenu {
    display: none;
    position: absolute;
}

section.barra-topo nav ul .submenu ul {
    width: 182px;
    background: #eeeeee;
    border-top: 3px #009D48 solid;
    border-bottom: 3px #009D48 solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    float: left;
}

section.barra-topo nav ul ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #009d49 transparent;
    position: absolute;
    top: -12px;
    left: 30px;
}

section.barra-topo nav ul ul li {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* section.barra-topo nav li:hover > a {
    background: none repeat scroll 0 0 #009d48;
    color: #FFFFFF;
    text-decoration: none;
}

section.barra-topo nav ul ul li a:hover {
    background: none !important;
    color: #003579 !important;
} */

section.barra-topo nav li:hover .submenu {
    display: block;
}

section.barra-topo ul.redes-sociais li {
    float: left;
    list-style: none outside none;
    margin: 5px 8px 0 0;
    opacity: 0.8;
}

section.barra-topo ul.redes-sociais li:hover {
	opacity: 1;
}

section.barra-topo img.menu-mobile {
    cursor: pointer;
    margin: 10px 0 0;
    padding: 0;
}

section.barra-topo div.menu-mobile {
    display: none;
    padding: 15px 0 0;
}

section.barra-topo div.menu-mobile ul {
    clear: both;
    margin: 50px 0 0;
}

section.barra-topo div.menu-mobile li {
    border-bottom: 1px solid #fcdc25;
    list-style: none outside none;
}

section.barra-topo div.menu-mobile li:last-child {
    border: none;
}

section.barra-topo div.menu-mobile a {
    color: #fff;
    display: block;
    font-family: 'oswald',sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}

section.slides li {
    height: 650px;
}

section.slides li.slide-01 {
	background: url("../img/slide-01.jpg") no-repeat top center transparent;
	width: 100%;
}

section.jornada-politica h2 {
    color: #809193;
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
    margin: 40px 0;
    text-transform: uppercase;
}

section.jornada-politica img {
    margin: -10px 0 0;
}

section.jornada-politica .detalhe-jornada {
    color: #657478;
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
}

section.jornada-politica .detalhe-jornada.ano-2003 {
    margin: -60px 0 0;
    width: 155px;
}

section.jornada-politica .detalhe-jornada.ano-2006 {
    margin: -65px 0 0 0;
    width: 130px;
}

section.jornada-politica .detalhe-jornada.ano-2010 {
    margin: -50px 0 0;
    width: 168px;
}

section.jornada-politica .detalhe-jornada.ano-2014 {
    margin: -60px 0 0;
    width: 168px;
}

section.biografia {
    background: url("../img/biografia-marchezan-bg.png") right center no-repeat;
    height: 625px;
    margin: 30px 0 0;
    width: 100%;
}

section.biografia h2 {
    color: #003862;
    font-size: 60px;
    font-weight: 300;
    margin: 160px 0 30px;
    text-transform: uppercase;
}

section.biografia p {
    color: #003862;
    line-height: 180%;
    margin: 0 0 40px;
}

section.biografia a {
    color: #386383;
    font-family: 'Oswald',sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

section.biografia a span.azul {
	color: #003860;
}

section.biografia a img {
    margin: -5px 0 0 15px;
}

section.propostas {
    margin: 50px 0 0;
}

h2.padrao {
    color: #003860;
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 20px;
    text-transform: uppercase;
}

h2.padrao.redes-sociais {
    float: left;
}

h3.padrao {
    color: #72858b;
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
}

h3.padrao span {
	color: #386383;
}

section.propostas .slide-propostas {
	-webkit-box-shadow:inset 1px 1px 8px 1px rgba(0,0,0,0.8);
	box-shadow:inset 1px 1px 8px 1px rgba(0,0,0,0.8);
    background: url("../img/projetos-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 533px;
    margin: 100px 0 0;
    width: 100%;
}

section.propostas .slide-propostas .flexslider {
	background: none;
}

section.propostas .slide-propostas #controla-tabs {
    margin: -80px 0 0;
}

section.propostas .slide-propostas #controla-tabs.flexslider,
section.propostas .slide-propostas #tabs.flexslider  {
    border: medium none;
    box-shadow: none;
}

section.propostas .slide-propostas #controla-tabs ul.flex-direction-nav {
	display: none;
}

section.propostas .slide-propostas #controla-tabs ul.slides li {
    cursor: pointer;
    margin: 0 20px 50px;
    width: 145px !important;
}

section.propostas .slide-propostas #controla-tabs ul.slides li img {
    margin: 0 0 15px;
}

section.propostas .slide-propostas #controla-tabs ul.slides li span {
    color: #e3e7e8;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

section.propostas .slide-propostas #controla-tabs ul.slides li.flex-active-slide span {
	color: #FBD017
}

section.propostas .slide-propostas #tabs li p {
    color: #e3e6e7;
    line-height: 200%;
    padding: 0 50px;
}

#tabs .flex-direction-nav .flex-prev:hover,
#tabs .flex-direction-nav .flex-next:hover {
	opacity: 1 !important;
}

#tabs .flex-viewport {
    z-index: 200;
}

#tabs .flex-direction-nav {
	cursor: pointer;
    z-index: 300;
}

#tabs .flex-direction-nav .flex-prev {
	background: url("../img/voltar-tab-hover.png") no-repeat transparent;
	height: 124px;
    left: -21px !important;
    margin: -62px 0 0;
    opacity: 0.8 !important;
    width: 21px;
}


#tabs .flex-direction-nav .flex-next {
    background: url("../img/avancar-tab-hover.png") no-repeat transparent;
	height: 124px;
	margin: -62px 0 0;
    right: -21px !important;
    opacity: 0.8 !important;
    width: 21px;
}

section.doacoes {
    background: url("../img/bg-doacao.jpg") no-repeat scroll right top #f4f7f7;
    padding: 50px 0;
    width: 100%;
}

section.doacoes h2.padrao {
    margin: 60px 0 10px;
}

section.doacoes p {
    color: #72858b;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 200%;
    margin: 0 0 20px;
}

section.doacoes a .texto {
    color: #386383;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 2px 0 0;
    text-transform: uppercase;
    width: 195px;
}

section.doacoes a .texto span.azul {
	color: #003860;
}

section.download {
    padding: 70px 0;
}

section.download .box-download {
    background: none repeat scroll 0 0 #59b200;
    height: 185px;
    margin: 0 0 20px;
    padding: 10px 0 0 10px;
    position: relative;
}

section.download .box-download a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
}

section.download .box-download img {
    bottom: 0;
    position: absolute;
    right: 0;
}

section.novidades {
    padding: 50px 0 0;
    position: relative;
}

section.novidades .mostra-novidade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E3E7E8;
    top: 0;
}

section.novidades .novidade {
    margin: 0 0 30px;
    position: relative;
    overflow: hidden;
}

section.novidades .novidade.normal {
    height: 170px;
}

section.novidades .novidade.normal a {
	position: absolute;
	bottom: 0;

}

section.novidades .novidade .data-postagem {
    color: #e3e5e6;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 200;
}

section.novidades .novidade .data-postagem span {
	display: block;
	line-height: 120%;
}

section.novidades .novidade .data-postagem span.dia {
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
}

section.novidades .novidade .data-postagem span.mes {
    font-size: 16px;
}

section.novidades .novidade a.titulo {
    display: block;
    font-family: 'oswald',sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    width: 100%;
}

section.novidades .novidade a.fechar {
    position: absolute;
    z-index: 100;
    width: 150px;
    top: 0;
    right: 0;
}

section.novidades .novidade.destaque a.titulo {
    bottom: 0;
    color: #fff;
    position: absolute;
}

/* separação das cores por categorias */

section.novidades .novidade .fundo {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}

section.novidades .novidade .fundo.azul {
    background: rgba(0,87,147,0.75);
}

section.novidades .novidade .fundo.amarelo {
    background: rgba(251,208,23,0.75);
}

section.novidades .novidade .fundo.verde {
    background: rgba(0,157,72,0.75);
}

section.novidades .novidade .fundo.marrom {
    background: rgba(68,68,68,0.75);
}

section.novidades .novidade.azul {
	background: #005793;
}

section.novidades .novidade.azul .data-postagem {
	background: #004879;
}

section.novidades .novidade.azul a {
	color: #E3E5E5;
}

section.novidades .novidade.destaque.azul a {
	background: #005793;
}

section.novidades .novidade.amarelo {
	background: #FBD017;
}

section.novidades .novidade.amarelo .data-postagem {
	background: #C49300;
}

section.novidades .novidade.amarelo a {
	color: #004779;
}

section.novidades .novidade.destaque.amarelo a {
	background: #FBD017;
}

section.novidades .novidade.verde {
	background: #009D48;
}

section.novidades .novidade.verde .data-postagem {
	background: #00823A;
}

section.novidades .novidade.verde a {
	color: #E3E5E5;
}

section.novidades .novidade.destaque.verde a {
	background: #009D48;
}

section.novidades .novidade.marrom {
	background: #444444;
}

section.novidades .novidade.marrom .data-postagem {
	background: #353535;
}

section.novidades .novidade.marrom a {
	color: #E3E5E5;
}

section.novidades .novidade.destaque.marrom a {
	background: #444444;
}

section.contato {
    background: url("../img/footer-bg.jpg") repeat;
    padding: 38px 0;
    width: 100%;
}

section.contato h2 {
    color: #E3E7E8;
    margin: 0 0 40px;
}

section.contato form#contato {
    overflow: hidden;
}

section.contato form#contato input[type="text"],
section.contato form#contato textarea {
    border: 2px solid #023A66;
    color: #386383;
    font-size: 19px;
    font-weight: 300;
    height: 35px;
    margin: 0 0 15px;
    padding: 0 10px;
    text-transform: uppercase;
    width: 100%;
}

section.contato form#contato textarea {
    height: 110px;
    padding: 5px 10px;
    resize: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #386383;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #386383;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #386383;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #386383;
}

section.contato form#contato input[type="submit"] {
    background: url("../img/enviar-msg-submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 60px;
    margin: 10px 0 0;
    width: 244px;
}

input.error,
textarea.error {
    border: 1px solid red !important;
}

p.errors,
p.errors-n {
    background: none repeat scroll 0 0 red;
    color: #fff !important;
    display: none;
    padding: 10px;
}

p.errors-n {
    margin: 10px 0 10px;
    font-size: 12px;
}

section.contato h3 {
    color: #E3E6E7;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

section.contato p,
section.contato p a {
    color: #E3E6E7;
    font-size: 13px;
    line-height: 180%;
    margin: 0;
}

section.contato ul.redes-sociais {
    float: right;
    margin: 0;
    padding: 0;
}

section.contato ul.redes-sociais li {
    float: left;
    list-style: none outside none;
    margin: 10px 0 0 6px;
}

section.contato .posts-redes-sociais {
    clear: both;
    margin: 0 0 20px;
}

section.newsletter {
    background: #133D6A;
    padding: 30px 0;
    width: 100%;
}

section.newsletter h2.small {
    color: #1a5a9a;
    float: left;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    width: 135px;
}

section.newsletter form#newsletter {
    float: left;
    width: 400px;
}

form#newsletter input[type="text"] {
    border: 1px solid #e9ab07;
    color: #777777;
    float: left;
    height: 32px;
    padding: 0 10px;
    width: 300px;
}

section.newsletter form#newsletter input[type="submit"] {
    background: none repeat scroll 0 0 #009d48;
    border: 1px solid #e9ab07;
    color: #ffffff;
    font-family: 'Oswald',sans-serif;
    height: 32px;
    text-transform: uppercase;
}

section.newsletter .coligacao {
    color: #1b5b9b;
    font-family: 'oswald',sans-serif;
    font-size: 16px;
    line-height: 140%;
}

section.conteudos-dinamicos {
    background: none repeat scroll 0 0 #f4f4f4;
    padding: 120px 0 50px;
}

section.conteudos-dinamicos hr {
    background: none repeat scroll 0 0 #bbbbbb;
    border: medium none;
    height: 2px;
    margin: -10px 0 20px;
    width: 100%;
}

section.conteudos-dinamicos figure {
    position: relative;
}

section.conteudos-dinamicos figure figcaption {
    background: none repeat scroll 0 0 #005793;
    bottom: 0;
    color: #eeeeee;
    padding: 20px;
    position: absolute;
    width: 100%;
}

section.conteudos-dinamicos h3 {
    color: #003860;
    font-family: 'open sans',sans-serif;
    font-size: 24px;
    margin: 30px 0 10px;
}

section.conteudos-dinamicos p {
    color: #202020;
    line-height: 200%;
    margin: 0 0 20px;
}

section.conteudos-dinamicos .sidebar {
    margin: 25px 0 0;
}

a.esconde-section {
    cursor: pointer;
}

a#fechar-biografia {
    color: #003860;
    cursor: pointer;
    display: block;
    font-family: 'oswald',sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 0 30px;
    text-transform: uppercase;
}


section.conteudos-dinamicos .sidebar img {
    margin: 0 0 20px;
}

section.exibe-biografia {
    display: none;
}

section.conteudos-dinamicos.exibe-biografia {
    background: none repeat scroll 0 0 #e3e7e8;
    padding: 40px 0;
}

.novidade.normal a.fixed {
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
}

section.projetos .projeto {
    margin: 0 0 14px;
    padding: 20px;
    position: relative;
}

section.projetos .projeto.no-padding {
    padding: 0;
}

section.projetos .projeto.amarelo {
    background: #FBD017;
}

section.projetos .projeto.azul-escuro {
    background: #386383;
}

section.projetos .projeto.azul-claro {
    background: #005793;
}

section.projetos .projeto.marrom {
    background: #444444;
}

section.projetos .projeto.verde {
    background: #009D48;
}

section.projetos {
    padding: 40px 0;
}

.projeto-aberto {
    position: absolute;
    width: 100%;
    background: #E3E7E8;
    z-index: 500;
    top: 0;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.projeto-aberto h3 {
    color: #386383 !important;
}

.projeto-aberto p {
    font-size: 14px !important;
}

.projeto-aberto img {
    margin-right: 10px;
}

.container-saude, .container-seguranca, .container-educacao, .container-impostos, .container-corrupcao, .container-agricultura, .container-download, .container-transparencia {
    position: relative;
}

.container-saude h3, .container-seguranca h3, .container-educacao h3, .container-impostos h3, .container-corrupcao h3, .container-agricultura h3, .container-transparencia h3 {
    border-bottom: 1px #005793 solid;
    line-height: 0.1em;
    margin-bottom: 30px;
}

.sem-linha {
    border: none !important;
}

.container-saude h3 span, .container-seguranca h3 span, .container-educacao h3 span, .container-impostos h3 span, .container-corrupcao h3 span, .container-agricultura h3 span, .container-transparencia h3 span {
    /*content: "";
    border-top: 1px #005793 solid;
    min-width: 93%;
    float: right;
    margin-top: 20px;*/
    background:#E3E7E8; padding:0 10px;
}

.esconde {
    display: none;
}

section.projetos .projeto h4.titulo-projeto-menor {
    color: #e3e6e7;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 15px;
    text-transform: uppercase;
}

section.projetos .projeto h4.titulo-projeto-grande {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    /*margin: 0 0 15px;*/
    text-transform: uppercase;
}

section.projetos .projeto h4.titulo-projeto {
    color: #444444;
    font-size: 60px;
    font-weight: 300;
    margin: 20px 0 15px;
    text-transform: uppercase;
}

section.projetos .projeto h4.titulo-projeto.especial {
    font-size: 40px;
}


section.projetos .projeto p {
    color: #e3e6e7;
    font-size: 13px;
    line-height: 180%;
    margin: 0;
}

section.projetos .projeto p.quote.maior {
    font-size: 18px !important;
}

section.projetos .projeto p.quote {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.projetos .abre-projeto {
    cursor: pointer;
}

.medica {
    -webkit-overflow-scrolling: touch;
    background: url("../img/saude-img-projeto.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.img-educacao-1 {
    -webkit-overflow-scrolling: touch;
    background: url("../img/educacao-1.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.educacao-chamada {
    -webkit-overflow-scrolling: touch;
    background: url("../img/educacao-chamada.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.educacao-3 {
    -webkit-overflow-scrolling: touch;
    background: url("../img/educacao-3.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.text-chamada-azul-claro {
    padding: 10px;
    font-size: 14px !important;
    /* position: absolute;
    z-index: 101;
    bottom: 0;
    background: #005793;*/
    color: #fff !important;
}

.text-chamada-amarelo {
    padding: 20px;
    font-size: 14px !important;
    position: absolute;
    z-index: 101;
    bottom: 0;
    background: #FBD017;
}

.text-chamada-verde {
    padding: 30px 20px 20px;
    font-size: 15px !important;
    /* background: #009D48; */
    color: #fff !important;
}

.text-chamada-azul-escuro {
    padding: 16px 20px 20px;
    font-size: 13px !important;
    color: #fff !important;
}

.text-chamada-marrom {
    padding: 15px 20px 20px;
    font-size: 15px !important;
    color: #fff !important;
}

.text-chamada-verde {
    padding: 15px 20px 20px;
    font-size: 18px !important;
    color: #fff !important;
}

img.normaliza {
    width: 100%;
    /*height: 100%;*/
    min-width: 100%;
    /*min-height: 100%;*/
    position: relative;
    margin: 0 0 15px 0;
}

div.espacamento {
    height: 03px;
}

div.espacamento-projetos {
    height: 30px;
}

.policial {
    -webkit-overflow-scrolling: touch;
    background: url("../img/seguranca-ico-policiais.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}


.projeto.unico {
    height: 355px;
}

.projeto.duo {
    height: 106px;
}

.projeto.duo-img {
    height: auto;
    overflow: hidden;
}

label.error {
    display: none !important; 
}

section.comites {
    padding: 40px;
    background: #fff;
}

/* .lista-comites .owl-item {
    width: 307px !important;
} */

.lista-comites .owl-prev, .lista-comites .owl-next {
    position: absolute;
    top: 15px;
    width: 21px;
    height: 124px;
    float: left;
    text-indent: -9999px;
}

.lista-comites .info {
    font-size: 13px;
}

.lista-comites .owl-prev {
    left: -30px;
    background: url("../img/prev-comite.png") center center no-repeat;
}

.lista-comites .owl-next {
    right: 0;
    background: url("../img/next-comite.png") center center no-repeat;
}

@media (max-width: 1199px) {
    section.doacoes {
        background: none repeat scroll right top #f4f7f7;
        padding: 50px 0;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    h2.padrao {
        font-size: 40px;
    }

    section.barra-topo nav a {
        font-size: 12px;
        padding: 5px;
    }

    section.barra-topo ul.redes-sociais li {
        margin: 5px 0 0;
    }

    section.jornada-politica .detalhe-jornada.ano-2003 {
        margin: -60px 0 0;
        width: 170px;
    }

    section.jornada-politica .detalhe-jornada.ano-2006 {
        margin: -60px 0 0 40px;
        width: 110px;
    }

    section.jornada-politica .detalhe-jornada.ano-2010 {
        margin: -60px 0 0;
        width: 149px;
    }
    
    section.doacoes a .texto {
        margin: 18px 15px 0 0;
        width: auto;
    }

	section.novidades .novidade.normal {
	    height: 144px;
	}	

	section.novidades .novidade .data-postagem span.dia {
	    font-size: 14px;
	}

	section.novidades .novidade .data-postagem span.mes {
	    font-size: 10px;
	}

	section.novidades .novidade a {
		font-size: 16px;
	}

    section.contato ul.redes-sociais li {
        margin: 0 0 0 6px;
    }
    .lista-comites .info {
        font-size: 11px;
    }

    section.projetos .projeto h4.titulo-projeto-menor {
        font-size: 18px !important;
    }

    section.projetos .projeto h4.titulo-projeto-grande {
        font-size: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section.banner {
        height: auto !important;
    }

    section.biografia {
        background: none repeat scroll 0 0 #e3e7e8;
        height: auto;
        padding: 30px 0;
    }

    section.biografia h2 {
        margin: 0 0 30px;
    }

    section.doacoes {
        padding: 30px 0;
    }

    section.doacoes h2.padrao {
        margin: 0 0 10px;
    }

    section.doacoes a .texto {
        margin: 15px 20px 0 0;
        width: auto;
    }

    section.contato form#contato {
        width: 100%;
    }

    section.newsletter h2.small {
        float: none;
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
    }

    section.newsletter form#newsletter {
        float: none;
        margin: 0 auto 10px;
        width: 381px;
    }

    section.newsletter .coligacao {
        margin: 0 0 10px;
    }
}

@media (max-width: 767px) {
    section.banner {
        height: auto !important;
    }

    section.biografia {
        background: none repeat scroll 0 0 #e3e7e8;
        height: auto;
        padding: 30px 0;
    }

    section.biografia h2 {
        margin: 0 0 30px;
    }

    section.biografia a img {
        display: none;
    }

    section.doacoes {
        padding: 30px 0;
    }
    
    section.doacoes img {
        display: none;
    }

    section.doacoes h2.padrao {
        margin: 0 0 10px;
    }

    section.doacoes a .texto {
        margin: 15px 20px 0 0;
        width: auto;
    }

    section.contato form#contato {
        width: 100%;
    }

    section.newsletter h2.small {
        float: none;
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
    }

    section.newsletter form#newsletter {
        float: none;
        margin: 0 auto 10px;
        width: 100%;
    }

    form#newsletter input[type="text"] {
        width: 185px;
    }

    section.newsletter .coligacao {
        margin: 0 0 10px;
    }

    .lista-comites .owl-next {
        right: -30px;
    }

    .lista-comites .info {
        font-size: 11px;
    }
}


/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.img {
    width: 100%;
    max-width: 100%;
}

.duo-img-2 img {
    /* width: auto;
    max-width: auto;
    height: 130px;
    max-height: 130px; */
}

.duo-img-2 p {
    font-size: 15px !important;
}

.transparent {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
}

.transparent p {
    text-transform: uppercase;
    padding: 10px;
}

.azul-claro .transparent {
    background: rgb(0, 87, 147);
    background: rgba(0, 87, 147, 0.7);
}

.verde .transparent {
    background: rgb(0, 157, 72);
    background: rgba(0, 157, 72, 0.7);
}

.azul-escuro .transparent {
    background: rgb(56, 99, 131);
    background: rgba(56, 99, 131, 0.7);
}

.amarelo .transparent {
    background: rgb(251, 208, 23);
    background: rgba(251, 208, 23, 0.7);
}

.marrom .transparent {
    background: rgb(68, 68, 68);
    background: rgba(68, 68, 68, 0.7);
}

.amarelo .transparent p {
    color: #386383 !important;
}

.down {
    height: 203px !important;
}

.bg-azul {
    background: #386383;
}

.bg-azul-opacity {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    padding: 15px;
    margin: 0;
    background: rgba(56,99,131, 0.7);
}

.bg-verde {
    background: #009D48;
}

.bg-verde-opacity {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    padding: 15px;
    margin: 0;
    background: rgba(0,157,72, 0.7);
}

.bg-amarelo {
    background: #FBD017;
}

.bg-amarelo-opacity {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    padding: 15px;
    margin: 0;
    background: rgba(251,208,23, 0.7);
}

.bg-marrom {
    background: #444444;
}

.bg-marrom-opacity {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    padding: 15px;
    margin: 0;
    background: rgba(68,68,68, 0.7);
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px !important;
}

.relative {
    position: relative;
}

.box {
    height: 187px;
}

.abre-projeto {
    cursor: pointer;
}

section.banner-novidades {
    margin-top: 100px;
    padding: 40px 0;
}

.novidade .fechar {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    color: #003860;
    cursor: pointer;
    display: block;
    font-family: 'oswald',sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 0 30px;
    text-transform: uppercase;
}

section.perfil-redes-sociais {
    padding: 40px 0;
}

section.perfil-redes-sociais h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #003861;
    margin-bottom: 20px;
}

section.perfil-redes-sociais .perfil p {
    font-size: 16px;
    color: #003861;
    font-family: 'Oswald', sans-serif;
}

/* section.perfil-redes-sociais .perfil .bg-btn-perfil {
    background: #C5D0D9;
    width: 100%;
    float: left;
    padding: 20px;
} */

/* section.perfil-redes-sociais .perfil a {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    float: left;
    width: 145px;
    margin-top: 12px;
}

section.perfil-redes-sociais .perfil img {
    float: right;
} */

/* section.perfil-redes-sociais .perfil a:after {
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/ver-mais-ico.png) no-repeat;
    float: right;
    margin-left: 10px;
} */

section.perfil-redes-sociais .twitter {
    width: 372px;
    margin-right: 10px;
}

section.perfil-redes-sociais .twitter, section.perfil-redes-sociais .facebook {
    position: relative;
}

section.perfil-redes-sociais .facebook {
    width: 419px;
}

section.perfil-redes-sociais .facebook .fb-post {
    margin-left: 11px;
}

section.perfil-redes-sociais .twitter a.compartilhar, section.perfil-redes-sociais .facebook a.compartilhar {
    position: absolute;
    text-indent: -9999px;
    z-index: 99;
    top: 0;
}

section.perfil-redes-sociais .twitter iframe {
    margin-left: 16px;
}

section.perfil-redes-sociais .twitter a.compartilhar {
    background: url(../img/topo-twitter.png) no-repeat top center;
    width: 372px;
    height: 62px;
}

section.perfil-redes-sociais .facebook a.compartilhar {
    background: url(../img/topo-facebook.png) no-repeat top center;
    width: 412px;
    height: 62px;
}

section.educacao {
    background: rgba(23,79,134, 0.15);
    padding: 60px 0;
}

section.educacao h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #386383;
    margin-bottom: 35px;
}

section.educacao h3 {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.educacao p {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.saude {
    background: rgba(0,157,72, 0.15);
    padding: 60px 0;
}

section.saude h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #009D48;
    margin-bottom: 35px;
}

section.saude h3 {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.saude p {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.menos-impostos {
    background: rgba(251,208,23, 0.15);
    padding: 60px 0;
}

section.menos-impostos h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #FBD017;
    margin-bottom: 35px;
}

section.menos-impostos h3 {
    color: #386383 !important;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.menos-impostos p {
    color: #386383 !important;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.transparencia {
    background: rgba(23,79,134, 0.15);
    padding: 60px 0;
}

section.transparencia h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #386383;
    margin-bottom: 35px;
}

section.transparencia h3 {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.transparencia p {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.corrupcao {
    background: rgba(68,68,68, 0.15);
    padding: 60px 0;
}

section.corrupcao h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #444444;
    margin-bottom: 35px;
}

section.corrupcao h3 {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.corrupcao p {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.seguranca {
    background: rgba(0,157,72, 0.15);
    padding: 60px 0;
}

section.seguranca h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #009D48;
    margin-bottom: 35px;
}

section.seguranca h3 {
    color: #e3e6e7;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.seguranca p {
    color: #386383;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

section.agricultura {
    background: rgba(251,208,23, 0.15);
    padding: 60px 0;
}

section.agricultura h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 85px;
    color: #FBD017;
    margin-bottom: 35px;
}

section.agricultura h3 {
    color: #386383 !important;
    font-size: 30px;
    font-weight: 300;
    line-height: 160%;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
    padding: 22px;
}

section.agricultura p {
    color: #386383 !important;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}

.carousel li {
    margin-right: 0;
}

.slider-novidades {
    width: 100%;
    position: relative;
    height: 490px;
    overflow: hidden;
}

.slider-novidades ul.ui-tabs-nav {
    position: absolute;
    top: 0;
    /* right: 15px; */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px;
    height: 490px;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 99;
    background: #1B5B9B;
    left: 888px;
}

.carousel-indicators li {
    display: inline-block;
    width: 100%;
    height: 164px;
    margin: 0;
    text-indent: 0;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: initial;
    float: left;
}

.carousel-indicators .active {
    width: 100%;
    height: 164px;
    margin: 0;
    background: #174F86;
}

.slider-novidades ul.ui-tabs-nav li {
    font-size: 18px;
    color: #E3E6E7;
    font-family: 'oswald';
}
.slider-novidades ul.ui-tabs-nav li img {
    float: left;
    margin: 2px 5px;
    background: #fff;
    padding: 2px;
    border: 1px solid #eee;
}
.slider-novidades ul.ui-tabs-nav li span {
    font-size: 11px;
    font-family: Verdana;
    line-height: 18px;
}

.slider-novidades li.ui-tabs-nav-item a {
    display: block;
    height: 164px;
    text-decoration: none;
    color: #E3E6E7 !important;
    background: #1B5B9B;
    line-height: 22px;
    outline: none;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px #E3E7E8 solid;
}

.slider-novidades li.ui-tabs-nav-item a:hover {
    background: #174F86;
}

.slider-novidades li.ui-tabs-selected, .slider-novidades li.ui-tabs-active {
}

.slider-novidades ul.ui-tabs-nav li.ui-tabs-selected a, .slider-novidades ul.ui-tabs-nav li.ui-tabs-active a, .slider-novidades li.active a {
    background: #174F86;
}

.slider-novidades .ui-tabs-panel {
    width: 100%;
    height: 490px;
    background: #999;
    position: relative;
}

.slider-novidades .ui-tabs-panel .info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
}

.slider-novidades .ui-tabs-panel .info a.hideshow{
    position: absolute;
    font-size: 11px;
    font-family: Verdana;
    color: #f0f0f0;
    right: 10px;
    top: -20px;
    line-height: 20px;
    margin: 0;
    outline: none;
    background: #333;
}

.slider-novidades .info h2{
    font-size: 1.2em;
    font-family: Georgia, serif;
    color: #fff;
    padding: 5px;
    margin: 0;
    font-weight: normal;
    overflow: hidden;
}

.slider-novidades .info p{
    margin: 0 5px;
    font-family: Verdana;
    font-size: 11px;
    line-height: 15px;
    color: #f0f0f0;
}

.slider-novidades .info a{
    text-decoration: none;
    color: #fff;
}

.slider-novidades .info a:hover{
    text-decoration: underline;
}

.slider-novidades .ui-tabs-hide{ 
    display: none;
}

.ajax-novidade {
    display: none;
}

.fb-like-box {
    background: #fff;
    margin-left: 12px;
    float: left;
    width: 100%;
}

@media (max-width: 767px) {
    section.educacao h2, section.menos-impostos h2 {
        font-size: 60px;
    }

    section.transparencia h2 {
        font-size: 40px;
    }

    section.corrupcao h2, section.seguranca h2 {
        font-size: 50px;
    }

    section.agricultura h2 {
        font-size: 46px;
    }

    .slider-novidades {
        height: 620px;
    }

    .slider-novidades ul.ui-tabs-nav {
        top: 131px;
    }

    section.perfil-redes-sociais .twitter, section.perfil-redes-sociais .facebook {
        width: auto;
    }

    .espacamento-mobile {
        margin-bottom: 30px;
    }

    .projeto.unico {
        height: auto;
    }

    .margin-top {
        margin-top: 0 !important;
    }

    .projeto-aberto img {
        margin-bottom: 10px;
    }

    .projeto-aberto {
        left:0;
    }

    .slider-novidades ul.ui-tabs-nav {
        top: 150px !important;
        left: 0;
        width: 100%;
    }

    section.perfil-redes-sociais .twitter a.compartilhar {
        background: url(../img/topo-twitter-mobile.png) no-repeat top center;
        width: 304px;
        height: 62px;
        left: 20px;
    }

    section.perfil-redes-sociais .facebook a.compartilhar {
        background: url(../img/topo-facebook-mobile.png) no-repeat top center;
        width: 287px;
        height: 62px;
        left: 20px;
    }
}